.col-xs-12.col-sm-9
  %article.jumbotron
    %h2 Welcome to MyClubCricketStats!
    %p MyClubCricketStats is a cricket scores and statics management application. Sign in user's can create/manage the Club's, Team's, and Player's. MyClubCricketStats will calculate and populates each player and team stats after entering and saving the data.   
= render 'shared/sidebar'     