.col-xs-12.col-sm-9
  %article.jumbotron
    %h3 You've signed out. See you again soon!
    
    = link_to 'sign in again!', root_path, :class => 'btn btn-default btn-lg btn-block' 
= render 'shared/sidebar' 